@mixin transition($args) {
  transition: $args;
}

@mixin orientation($direction) {

  $orientation-landscape: "(orientation:landscape)";
  $orientation-portrait: "(orientation:portrait)";

  @if $direction==landscape {
    @media #{$orientation-landscape} {
      @content;
    }
  }

  @if $direction==portrait {
    @media #{$orientation-portrait} {
      @content;
    }
  }
}

// Box shadow effect
@mixin nav-shadow {
  box-shadow: 0 0 3px $black;
}

// Hover effect on text links
@mixin underline {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 4px;
  @include transition(all .25s ease-in-out);
  opacity: 0;
  background-color: $primary-light;
}

// Colors for skill items
@mixin skill($name, $bg-color, $font-color: white) {
  .#{$name} {
    background-color: $bg-color;
    color: $font-color;
  }
}
