body {
  background-color: $white;

  @include screen-md {
    padding-bottom: 0;
  }

  @include screen-sm {
    padding-bottom: 0;
  }
}

a {
  text-decoration: none;
  color: $black;
  display: flex;
}

figure {
  text-align: center;
}


/***********************
  Sticky Footer
************************/
@include screen-md {

  html,
  body {
    height: 100%;
  }

  body {
    display: flex;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }

  footer {
    flex-shrink: 0;
  }
}
