// CSS Reset

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default padding */
ul,
ol {
  padding: 0;
}

/* Set headings to regular font weight */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core body defaults */
body {
  min-height: calc(100vh - 56px);
  scroll-behavior: smooth;
  line-height: 1.5;
  letter-spacing: 1.05px;
//  padding-bottom: 49px;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul {
  list-style: none;
}


/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
}


/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}
