@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&family=Lato&display=swap&family=Material+Icons');

body {
  font-family: 'Nunito', sans-serif;
  letter-spacing: 1.05px;

  @include media-breakpoint-up(md) {
    font-size: 1.25rem;
  }
}

h1,
h2 {
  font-family: 'Lato', sans-serif;
}

h3 {
  @include media-breakpoint-only(xs) {
    font-size: 1.5rem;
  }
}

.subtitle {

  &--home {
    font-size: 1.75rem;

    @include media-breakpoint-up(lg) {
      font-size: 2.5rem;
    }
  }
}

// Header
.nav-link {
  font-size: .9rem;
}

.material-icons {
  font-size: 18px;
}

.social__icon {
  font-size: 1.25rem;

  &--contact {
    font-size: 2rem;
  }
}

// Footer
.footer {
  font-size: .9rem;
}

// Section Title
.section__title {

  @include media-breakpoint-up(md) {
    font-size: 4rem;
  }
}


// Intro section
.intro {

  &__lead {
    font-size: 3rem;

    @include media-breakpoint-up(md) {
      font-size: 4rem;
    }
  }
}

// Skill section
.skills {
  font-size: 1rem;
}

.skill__title {
  @include media-breakpoint-down(md) {
    font-size: 1.25rem;
  }
}

.service__icon {
  font-size: 3rem;
}


// Buttons
.btn {
  font-size: 1.25rem;

  @include media-breakpoint-up(md) {
    font-size: 1.5rem;
  }

  &--submit {
    font-size: 1.25rem !important;
  }
}


// Projects Page
.project__title {
  font-family: 'Nunito', sans-serif;
  font-size: 1.5rem;

  @include media-breakpoint-up(md) {
    font-size: 2.5rem;
  }
}

// Project Overview Page
.project-link--back {
  font-size: .9rem;
}

.project-overview {
  .section__title {
    @include media-breakpoint-up(md) {
      font-size: 3rem;
    }
  }
}

// Contact Page
.contact {
  h2 {
    font-size: 1.75rem;
  }
}
label {
  font-size: 1rem;
}
