.alert {
  padding: .5rem;
  margin: 1rem auto;
  text-align: center;
  max-width: 550px;
  border-radius: 5px;
  color: $white;

  &--danger {
    background-color: red;
  }

  &--success {
    background-color: green;
  }
}
