.avatar {
  width: 8rem;
  height: 8rem;
  overflow: hidden;
  border-radius: 50%;
  margin: 0rem auto 1rem;
  box-shadow: 0 2px 2px $black;

  @include media-breakpoint-up(lg) {
    width: 16rem;
    height: 16rem;
  }
}
