.skill__list li {
  width: 100%;
  border-radius: 32px;
  text-align: center;
  padding: .25em;

  @include IE {
    width: 9.375rem;
    margin-right: 1rem;
    margin-bottom: .4rem;
  }
}

@include skill(photoshop, #001523, #D9F5FF);
@include skill(illustrator, #261300, #FF9200);
@include skill(adobe-xd, #2E001F, #FFD9F2);
@include skill(indesign, #2E0013, #FF6BAE);
@include skill(premiere, #2A0034, #EA77FF);

@include skill(html, #D1431F);
@include skill(css, #144BCC);
@include skill(javascript, #F0D91D, #424242);
@include skill(sass, #C34B85);
@include skill(less, #294D80);

@include skill(bootstrap, #543B79);
@include skill(foundation, #127DA1);
@include skill(react, #262626, #5ED4F4);

@include skill(jquery, #075B97);
@include skill(git, #D93717);
@include skill(gulp, #CF4547);
