.contact {
  h2 {
    //    border-bottom: 1px solid $primary;
    position: relative;

    &:after {
      @include underline;
      left: 50%;
      transform: translate(-50%);
      width: 50%;
      height: 1px;
      opacity: 1;
      background-color: $primary;

    }
  }
}

.contact__form {

  label:after {
    content: "*";
    color: red;
  }
}

.social__icon--contact {
  color: $black !important;

}
