/*---------------------
Intro section
---------------------*/

.intro {
  background: url(../img/plant.png) no-repeat bottom right;
  background-size: 40%;

  @include media-breakpoint-down(sm) {
    @include orientation(portrait) {
      height: 75vh;
      background-size: 60%;
    }
  }

  @include media-breakpoint-only(md) {
    background-size: 45%;
  }

  @include media-breakpoint-up(lg) {
    @include orientation(landscape) {
      padding-top: 6rem;
      height: 95vh;
      background-size: 55%;
    }

    @include media-breakpoint-up(xl) {
      background-attachment: fixed;
      background-size: 50%;
    }
  }

  &__wrapper {
    @include media-breakpoint-down(sm) {
      @include orientation(landscape) {
        max-width: 65%;
      }
    }

    @include media-breakpoint-up(md) {
      max-width: 50%;
    }

    @include media-breakpoint-up(xl) {
      max-width: 45%;
    }
  }

  &__lead {
    margin-bottom: .5rem;
  }

  &__subtitle {
    margin-bottom: 3rem;
  }
}

/*------------------------
About section
------------------------*/

.about {
  background: url(../img/about-bg-m.svg) no-repeat;
  background-size: cover;
  background-position: bottom;
  background-color: $white;
  color: $white;

  @include media-breakpoint-up(lg) {
    background: url(../img/about-bg.svg) no-repeat;
    background-size: cover;
    background-position: bottom right;
    background-color: $white;
  }
}

/*------------------------
Skills section
------------------------*/

.skills {
  background: url(../img/skills-bg-m.svg) no-repeat;
  background-size: cover;
  background-color: $white;

  @include media-breakpoint-up(md) {
    background-position: bottom;
  }

  @include media-breakpoint-up(lg) {
    background: url(../img/skills-bg.svg) no-repeat;
    background-size: cover;
    background-position: top;
    background-color: $white;
  }
}

.services__wrapper {
  max-width: 19rem;

  @include media-breakpoint-up(md) {
    max-width: 17rem;
  }
}

.service {
  text-align: center;
}
