.project {
  padding: 0 0 1rem;

  &__text {
    @include media-breakpoint-up(lg) {
      max-width: 48rem;
      margin: auto;
    }
  }

  &__view-page {
    text-align: center;
    margin: 3rem 0;
  }
}

.project-link--back {
  display: inline-block;
  color: $primary-dark;
  margin: 1rem 0;
  position: relative;
  @include transition(all .2s ease-in);

  &:before,
  &:after {
    @include underline;
    background-color: $primary-dark;
    left: 0;
    width: 100%;
    height: 1px;
    opacity: 1;
  }

  &:hover {

    &:before,
    &:after {
      width: 0;
    }
  }
}
